section {
    border-radius: 5px;
    float: left;
    margin: 1px;
    padding: 3px;
    width: 30%;
    min-width: 121px;
    height: 200px;
}

.clearfix {
    clear: both;
}

.old-movie {
    background-color: lightblue
}

.new-movie {
    background-color: lightcoral
}